<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings: -->
        <property name="hibernate.connection.url">jdbc:hsqldb:file:/orm/playground/hsqldb.db;shutdown=true</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.hbm2ddl.auto">create-drop</property>
<!--        <property name="hibernate.hbm2ddl.auto">update</property>-->

        <property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>

        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.transaction.coordinator_class">jdbc</property>
        <property name="hibernate.highlight_sql">true</property>
        <property name="hibernate.use_sql_comments">true</property>

        <property name="hibernate.c3p0.poolInitialSize">10</property>
        <property name="hibernate.c3p0.poolMaxSize">100</property>
        <property name="hibernate.jdbc.fetch_size">1000</property>
        <property name="hibernate.jdbc.batch_size">1000</property>


        <!-- Vibur DBCP specific properties: -->
<!--        <property name="hibernate.connection.provider_class">-->
<!--            org.vibur.dbcp.integration.ViburDBCPConnectionProvider-->
<!--        </property>-->

<!--        <property name="hibernate.vibur.poolInitialSize">10</property>-->
<!--        <property name="hibernate.vibur.poolMaxSize">100</property>-->
<!--        <property name="hibernate.jdbc.fetch_size">1000</property>-->
<!--        <property name="hibernate.jdbc.batch_size">1000</property>-->

<!--        <property name="hibernate.vibur.connectionIdleLimitInSeconds">30</property>-->
<!--        <property name="hibernate.vibur.testConnectionQuery">isValid</property>-->

<!--        <property name="hibernate.vibur.logQueryExecutionLongerThanMs">500</property>-->
<!--        <property name="hibernate.vibur.logStackTraceForLongQueryExecution">true</property>-->

<!--        <property name="hibernate.vibur.statementCacheMaxSize">100</property>-->
    </session-factory>
</hibernate-configuration>