<configuration scan="true" debug="false" scanPeriod="30 seconds">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%date{yyy-MM-dd HH:mm:ss.SSSXXX} %highlight(%-5level) [%thread] %cyan(%logger{30}:%L) - %highlight(%msg%n)
            </pattern>
        </encoder>
    </appender>
    <logger name="my.playground.orm" level="INFO"/>
    <logger name="org.hibernate.SQL" level="DEBUG"/>
<!--    <logger name="org.vibur.dbcp.proxy" level="TRACE" />-->
<!--    <logger name="org.hibernate.type" level="TRACE"/>-->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <!--        <appender-ref ref="FILE"/>-->
    </root>

</configuration>